
<fieldset>
<legend><center><h1> My Entry </h1></center> </legend>
<!-- Name -->
<h1><center><div class='form-group'>
      <label for='clothes-name'>Name</label><br>
      <input class='form-control' id='name' type='text' name='name' value='{{ clothes.name }}'/>
  </div>
<!-- Price -->
<div class='form-group'>
      <label for='clothes-name'>Price</label><br>
      <input class='form-control' id='price' type='text' name='price' value='{{ clothes.price }}'/>
  </div>
<!-- Image URL -->
<div class='form-group'>
      <label for='clothes-name'>Image</label><br>
      <input class='form-control' id='image-url' type='url' name='url' value='{{ clothes.image_url }}'/>
  </div></center></h1>
</fieldset>
