<!-- Current Navbar Design -->
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Reika's Boutique</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Shop By Style</a>
    <div class="dropdown-menu" style="">
      <a class="dropdown-item" href="/catalogue">Classics</a>
      <a class="dropdown-item" href="/catalogue">Cute</a>
      <a class="dropdown-item" href="/catalogue">Pastel</a>
      <a class="dropdown-item" href="/catalogue">Elegant</a>
      <a class="dropdown-item" href="/catalogue">Gothic</a>
      <a class="dropdown-item" href="/catalogue">Cool</a>
      <a class="dropdown-item" href="/catalogue">Quirky</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>
      <li class="nav-item">
        <a class="nav-link" href="/catalogue/new">Add a Product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Cart</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Look for...">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>
