<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Reikamoon's Boutique</title>
  <style>
    body {
      color:HotPink;
    }
    .w3-sidebar a {font-family: "Roboto", sans-serif}
    body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
    .bgcolor {
    background-color: #FFFFFF;
  }

  .fontcolor {
    color: HotPink;
  }

  .title {
  font-family: Avenir, Arial, sans-serif;
  font-size: 25px;
  font-weight: bold;
  color:HotPink;
  }

  .defaultfont {
    font-family: Avenir, Tahoma, Arial, sans-serif;
    font-size: 23px;
    color:HotPink;
  }
  .logofont {
    font-family: Menlo, Tahoma, Arial, sans-serif;
    font-size: 25px;
    color:HotPink;

  .mySlides {display:none;}

  .w3-sidebar a {font-family: "Roboto", sans-serif}
  body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
  </style>
  <body class="w3-content" style="max-width:1200px">
</head>
<body>
  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
    <div class="w3-container w3-display-container w3-padding-16">
      <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
      <h3 class="logofont"><i>Reika's Boutique</i></h3>
    </div>
    <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
      <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-white w3-left-align" id="myBtn">
        Shop by Style <i class="fa fa-caret-down"></i>
      </a>
      <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
        <a href="#" class="w3-bar-item w3-button w3-light-grey"><i class="fa fa-caret-right w3-margin-right"></i>Lolita</a>
        <a href="#" class="w3-bar-item w3-button">Cute</a>
        <a href="#" class="w3-bar-item w3-button">Elegant</a>
        <a href="#" class="w3-bar-item w3-button">Punk</a>
        <a href="#" class="w3-bar-item w3-button">Gothic</a>
      </div>
      <a href="#" class="w3-bar-item w3-button">Tops</a>
      <a href="#" class="w3-bar-item w3-button">Bottoms</a>
      <a href="#" class="w3-bar-item w3-button">Outerwear</a>
      <a href="#" class="w3-bar-item w3-button">Dresses</a>
      <a href="#" class="w3-bar-item w3-button">Accessories</a>
      <a href="#" class="w3-bar-item w3-button">Shoes</a>
    </div>
  </nav>

  <!-- Top menu on small screens -->
  <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
    <div class="w3-bar-item w3-padding-24 w3-wide">Reika's Boutique</div>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
  </header>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:250px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->
    <header class="w3-container w3-xlarge">
      <p class="w3-left">"All things cute and fashionable!"</p>
      <p class="w3-right">
        <i class="fa fa-shopping-cart w3-margin-right"></i>
        <i class="fa fa-search"></i>
      </p>
    </header>

    <!-- Image header -->  <div class="w3-display-container w3-container">
      <img src="https://i.ytimg.com/vi/L4V60UMrWX0/maxresdefault.jpg" alt="Jeans" height = "800px" width= "1000px">
      <div class="w3-display-topleft w3-text-black" style="padding:24px 48px">
        <h1 class="w3-jumbo w3-hide-small">New Arrivals</h1>
        <h1 class="w3-hide-large w3-hide-medium">New Arrivals</h1>
        <h1 class="w3-hide-small">Lolita Collection</h1>
        <p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
      </div>
    </div>


    <div class="w3-container w3-text-grey" id="jeans">
      <p>8 items</p>
    </div>

    <!-- Product grid -->
    {% for clothes in clothes %}
    <div class="w3-row-padding w3-padding-16 w3-center" id="products">
    <div class="w3-quarter">
      <a href='catalogue/{{ clothes.id }}'><img src="{{ clothes.image_url }}" alt= "Product" height= "300" width = "200" ></a>
        <p>{{ clothes.name }}</p><br>
        <b>{{ clothes.price }}</b>
        <p><a href="#" class="w3-button w3-white w3-padding-large w3-large">Add to Cart</a></p>

    </div>
      {% endfor %}

    <!-- End page content -->
  </div>


</body>
</html>
