{% extends 'base.html' %}
<body>

{% block content %}
  <!-- Top menu on small screens -->
  <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
    <div class="w3-bar-item w3-padding-24 w3-wide">Reika's Boutique</div>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
  </header>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:250px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->
    <header class="w3-container w3-xlarge">
      <p class="w3-left">"All things cute and fashionable!"</p>
      <p class="w3-right">
        <i class="fa fa-shopping-cart w3-margin-right"></i>
        <i class="fa fa-search"></i>
      </p>
    </header>

    <!-- Image header -->  <div class="w3-display-container w3-container">
      <img src="https://i.ytimg.com/vi/L4V60UMrWX0/maxresdefault.jpg" alt="Jeans" height = "800px" width= "1000px">
      <div class="w3-display-topleft w3-text-black" style="padding:24px 48px">
        <h1 class="w3-jumbo w3-hide-small">New Arrivals</h1>
        <h1 class="w3-hide-large w3-hide-medium">New Arrivals</h1>
        <h1 class="w3-hide-small">Lolita Collection</h1>
        <p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
      </div>
    </div>
    <!-- add in the grid -->
   {% include 'partials/altproductgrid.html' %}

    </div>

    <!-- End page content -->
{% endblock content %}
</body>
